{% extends "base.html" %}

{% block container %}
<a href="{{ logout_url }}">Logout</a>

<h1>POST/new message</h1>

<form action="{{ url_for('api_message', oid=None) }}" method="POST">
    new message text <br/>
    <textarea name="message"></textarea>
    <input type="submit" />
</form>

<h1>PUT/update message</h1>

<form action="{{ url_for('api_message', oid=None) }}" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <table>
    <tr><td style="vertical-align:top;">
    <ul>
        {% for obj in objects_list %}<li>
            <input type="radio" name="oid" value="{{ obj.id }}" id="msg{{ obj.id }}" />
            <label for="msg{{ obj.id }}">{{ obj.message }}</label>
        </li>
        {% endfor %}
    </ul>
    </td><td style="vertical-align:top;">
        <textarea id="message" name="message"></textarea><br/>
        <input type="submit" />
    </td>
    </tr>
    </table>
</form>
{% endblock %}
